# Core E-commerce Dashboard & ETL
pandas==2.3.2
numpy==2.3.2
duckdb
pyarrow
streamlit==1.49.1
plotly==6.3.0

# Exploratory Analysis & ML (Notebooks)
jupyter
statsmodels
patsy
matplotlib
seaborn
scikit-learn==1.7.2
xgboost==3.2.0
category-encoders==2.9.0
joblib==1.5.2
